.navbar {
  background: #121214;
  height: 80px;
  display: flex;

  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-container {
  /*border: 1px solid rgb(120, 235, 27);*/
  display: flex;
  padding: 10px;
  width: 100%;
  justify-content: space-between;
  height: 30px;
}

.container {
  z-index: 1;
  width: 100%;
  /*max-width: 1300px;*/
  margin-right: auto;
  margin-left: auto;
  /*padding-right: 50px;*/
}

.navbar-logo {
  /*border: 1px solid rgb(255, 0, 0);*/
  color: #fff;
  justify-self: start;
  cursor: pointer;
  text-decoration: none;
  font-size: 2rem;
  display: flex;
  align-items: center;
}

.navbar-icon {
  /*border: 1px solid rgb(98, 0, 255);*/
  margin-right: 0.5rem;
}

.nav-menu {
  /*border: 1px solid rgb(255, 0, 157);*/
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
  text-align: center;
  justify-content: flex-end;
}

.nav-item {
  /*border: 1px solid rgb(43, 255, 0);*/
  margin: 5px;
  height: 80px;
  border-bottom: 2px solid transparent;
}

.nav-item:hover {
  /*border: 1px solid rgb(255, 251, 0);*/
  border-bottom: 2px solid #f00946;
}

.nav-links {
  /*border: 1px solid rgb(92, 168, 255);*/
  color: #fff;
  display: flex;
  align-items: center;
  text-decoration: none;
  padding: 0.5rem 1rem;
  height: 100%;
}

.fa-bars {
  /*border: 1px solid rgb(190, 68, 68);*/
  color: #fff;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {
  .NavbarItems {
    position: relative;
  }

  .nav-menu {
    /*border: 1px solid rgb(255, 255, 255);*/
    display: flex;
    flex-direction: column;
    height: 85vh;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    /*border: 1px solid rgb(172, 172, 172);*/
    background: #121316;
    width: 100%;
    justify-content: center;
    left: 0;
    opacity: 1;
    transition: all 0.5s ease;
    z-index: 1;
  }

  .nav-links {
    /*border: 1px solid rgb(255, 0, 0);*/
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    /*border: 1px solid rgb(255, 255, 255);*/
    color: #f00946;
    transform: scale(1.2);
    transition: all 0.3s ease;
  }

  .nav-item:hover {
    /*border: 1px solid rgb(76, 0, 255);*/
    border: none;
  }

  .nav-item {
    /*border: 1px solid rgb(0, 255, 234);*/
    width: 100%;
  }

  .navbar-logo {
    /*border: 1px solid rgb(21, 255, 0);*/
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(25%, 50%);
  }

  .menu-icon {
    /*border: 1px solid rgb(0, 255, 213);*/
    display: block;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    /*border: 1px solid rgb(251, 255, 0);*/
    color: #fff;
    font-size: 2rem;
  }

  .nav-btn {
    /*border: 1px solid rgb(255, 255, 255);*/
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    height: 110px;
  }
}
